* {
  text-align: center;
}

html {
  background-image: url(images/sky.jpg);
  background-height: auto;
  font-size: 16px;
  font-family: "Nanum Brush Script", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 750px;
  margin: auto; /*너비에서 남는 여백을 동일하게 분배*/
}
h1 {
  font-size: 40px;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
p {
  font-size: 1.5rem;
}
h2 {
  color: brown;
}

li {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
